@import url('tokyo.css');

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @base;
    }
}

@keyframes blink-critical {
    70% {
        color: @red;
    }

    to {
        color: @text;
        background-color: @red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: 'JetBrainsMono Nerd Font', devicons, sans-serif;
}

/* The whole bar */
#waybar {
    background: rgba(26, 27, 38, 0.85);
    color: @text;
    font-size: 14px;
}

.modules-left > widget > label,
.modules-right > widget > label {
    color: @text;
    background: @base;
    margin: 0px 0px 2px 0px;
    padding: 0px 4px;
}
.modules-right > widget:nth-child(2) > label {
    border-bottom-left-radius: 3px;
    margin-left: 4px;
}

.modules-left > widget:last-child > label {
    border-bottom-right-radius: 3px;
    margin-right: 4px;
}

/* Each module */
#custom-updates,
#custom-menu,
#custom-home,
#custom-mem,
#custom-notification,
#bluetooth,
#battery,
#clock,
#cpu,
#mode,
#network,
#pulseaudio,
#pulseaudio.microphone,
#temperature,
#backlight,
#tray {
    padding: 2px 8px;
    margin: 2px 8px;
    border-radius: 8px;
    background: @base;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-updates {
    color: @green;
}

#pulseaudio {
    color: @sky;
}
#battery.warning {
    color: @maroon;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    font-size: 12px;
    color: @sky;
}

#cpu.warning {
    color: @maroon;
}

#cpu.critical {
    color: @red;
}

#custom-mem {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-mem.warning {
    color: @maroon;
}

#custom-mem.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network.disconnected {
    color: @red;
}

#pulseaudio.microphone {
    color: @peach;
}

#pulseaudio.muted {
    /* No styles */
    color: @maroon;
}
#temperature {
    color: @peach;
}

#temperature.critical {
    color: @red;
}

window#waybar {
    font-weight: bold;
    margin-right: 25px;
    color: @text;
}

#workspaces button {
    border-radius: 10px;
    padding: 2px 10px;
    color: @text;
    background: @base;
    font-size: 16px;
}

#workspaces button.active {
    color: @green;
    background: @base;
    font-size: 20px;
}

#workspaces button.focused {
    color: @green;
    background: @base;
    font-weight: bold;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

#bluetooth.disabled {
    color: @maroon;
}

#tags button {
    border-radius: 8px;
    padding: 0px 0px;
    color: @text;
    background: @base;
    font-size: 20px;
}

#tags button:not(.occupied) {
    color: transparent;
    background: transparent;
}

#tags button.active {
    color: @teal;
    background: @base;
}

#tags button.focused {
    color: @teal;
    background: @base;
}

#tags button.urgent {
    border-color: @red;
    color: @red;
}
